
%% THIS IS THE CONFIGURATION FILE OF THE LINCX SWITCH

%% All options are represented by tuples. The first element of the tuple is an
%% option name. Each option has one or more mandatory parameters. A list of
%% auxilliary parameters can be appended to any option. An option with the same
%% can happen many times in the configuration file. The meaning of all options
%% and examples of their use are given below.

%% {port,PortNo}
%%
%% Adds an OpenFlow port. Aux options:
%%		{bridge,Name}		set the name of the bridge to attach vif to
%%		{mac,MacAddr}		assign the static MAC address to the port
%%
%{port,1}.
%{port,2}.
%{port,1,[{bridge,"xenbr1"}]}.
%{port,2,[{bridge,"xenbr1"},{mac,"11:22:33:44:55:66"}]}.

%% {ports,Count}
%%
%% Adds OpenFlow ports in bulk. Count is the number of ports to add. Aux options:
%%		{prefix,Name}		generate brdige names using the prefix Name
%%
%{ports,2}.
%{ports,4,[{prefix,p2p}]}.

%% {controller,IPAddr,Port}
%%
%% Connects to the controller upon startup. No aux options.
%%
%{controller,"192.168.3.30",6653}.
%{controller,{10,10,1,1},6633}.

%% {listener,Port}
%%
%% Listen for connections from controllers on Port. No aux options.
%%
%{listener,6643}.

