{require_otp_vsn, "17"}.

{validate_app_modules, false}.

{erl_opts, [
	fail_on_warning,
	{parse_transform, lager_transform}
]}.

{sub_dirs, [
	"apps/linc",
	"apps/linc_max"
]}.

{deps, [
	{lager, ".*", {git, "https://github.com/basho/lager.git", {tag, "1.2.2"}}},
	{of_protocol, ".*", {git, "https://github.com/FlowForwarding/of_protocol.git", {branch, "master"}}},
	{enetconf, ".*", {git, "https://github.com/FlowForwarding/enetconf.git", {branch, "master"}}},
	{of_config, ".*", {git, "https://github.com/FlowForwarding/of_config.git", {branch, "master"}}},
	{pkt, ".*", {git, "https://github.com/esl/pkt.git", {branch, "master"}}},
	{yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git",{branch, "master"}}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
