{require_otp_vsn, "R1[56]B"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{sub_dirs,
 ["apps/linc",
  "apps/linc_max",
  "apps/linc_ofdpa"]}.

{deps,
 [{lager, ".*", {git, "http://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {of_protocol, ".*",
   {git, "http://github.com/FlowForwarding/of_protocol.git", {branch, "master"}}},
  {enetconf, ".*",
   {git, "https://github.com/FlowForwarding/enetconf.git", {branch, "master"}}},
  {of_config, ".*",
   {git, "https://github.com/FlowForwarding/of_config.git", {branch, "master"}}},
  {pkt, ".*", {git, "http://github.com/esl/pkt.git", {branch, "master"}}},
  {meck, ".*", {git, "http://github.com/eproxus/meck.git",
                {tag, "0.8.1"}}},
  {ling_builder,".*",
	{git,"git://github.com/maximk/ling_builder.git","master"}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.

{plugins,[ling_builder]}.

{ling_builder_opts,[{build_host,"build.erlangonxen.org"},
	{username,"test"},
	{password,"test"},
	{build_config,fastest},
	{import,"priv/*"},
	{import_lib,eunit},
	{import_lib,tools},
	{import_lib,public_key},
	{import_lib,asn1},
	{import_lib,crypto},
	{import_lib,ssh},
	{import_lib,xmerl},
	{import_lib,mnesia},
	{import_lib,syntax_tools},
	{import_lib,compiler}]}.

